
# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

./dist
./coverage
./.env
./.DS_Store
./*.log
./*.lock
./.vscode
./.idea
./.eslintcache
./.prettiercache
./.nyc_output
./.cache
./.parcel-cache
./.next
./.nuxt
./.vuepress
./.serverless
./.webpack  
./.babelrc
./.stylelintrc
./.eslintrc
./.prettierrc
./.editorconfig
./.gitattributes
./.gitignore
./.npmrc